<!DOCTYPE html>
<html>
    <head><title>INFORMATION</title></head>
    <body>
        <h1>请输入相关信息</h1>
        <form method="post" action="/info">
        <p>请输入姓名<br><input type="text" name="name"></p>
        <p>请输入年龄<br><input type="text" name="age"></p>
        <p>请输入用户名<br><input type="text" name="username"></p>
        <p>请输入密码<br><input type="text" name="password"></p>
        <input type="submit">
        </form>
        <a href="/register">注册</a>
        <a href="/login">登录</a>
    </body>
</html>